body {
  margin: 0;
}
.logo {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
  align-items: center;
}
.logo img {
  height: 50px;
}
.logo p {
  color: gray;
  font-size: 20px;
  text-decoration: underline dotted;
  cursor: pointer;
}
.logo p:hover {
  text-decoration: none;
}
.container1 {
  background-image: url(./pizz.pep.jpg);
  height: 400px;
  overflow: hidden;
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  margin: 10px 0;
}
/*-- box css --*/
#delivery {
  display: flex;
  width: 100%;
  justify-content: center;
}
.delivery {
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  width: 260px;
  flex-direction: column;
  align-items: center;
  margin-top: -100px;
  padding: 0 0px 10px 0px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.delivery img {
  height: 32px;
}
.top {
  display: flex;
  width: 260px;
  flex-direction: row;
  justify-content: space-around;
}
.top div {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-around;
  padding: 5px;
  border-radius: 10px 10px 0 0;
}
.delivery div h1 {
  font-size: 16px;
}
.delivery div p {
  font-size: 12px;
}
.delivery div p span {
  text-decoration: underline;
}
.delivery div input {
  width: 95%;
  height: 30px;
  padding: 5px;
  opacity: 75%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}
.top {
  background-color: rgb(205, 204, 204);
  color: rgb(91, 91, 91);
}
.deal {
  text-align: center;
  margin-top: 50px;
}
.image2 {
  margin-left: 200px;
}
.btn button {
  margin-left: 200px;
  width: 1000px;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn button:hover {
  background-color: lightgreen;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: white;
}
.footer li {
  list-style: none;
}
